<?xml version="0.0" ?>
<robot name="chesspiece31.urdf">
  <link name="chesspiece31">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="r15.obj"/>
      </geometry>
    </visual>
    
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0.0"/>
      <geometry>
  	    <mesh filename="r15.obj"/>
      </geometry>
    </collision>
  </link>

</robot>
