<?xml version="0.0" ?>
<robot name="chesspiece1.urdf">
  <link name="chesspiece1">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <cylinder radius="0.15" length="0.1"/> -->
        <mesh filename="b1.obj"/>
      </geometry>
    </visual>
    
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0.0"/>
      <geometry>
  	    <mesh filename="b1.obj"/>
      </geometry>
    </collision>
  </link>

</robot>
