<?xml version="0.0" ?>
<robot name="chesspiece27.urdf">
  <link name="chesspiece27">

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <mass value="0.01"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="r11.obj"/>
      </geometry>
    </visual>
    
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0.0"/>
      <geometry>
  	    <mesh filename="r11.obj"/>
      </geometry>
    </collision>
  </link>

</robot>
